<?php

include 'views/tasks/create.html';
?>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Task</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
<?php
foreach ($allTasks as $task) { ?>
<tr>
    <td><?php echo $task['id']; ?></td>
    <td><?php echo $task['name']; ?></td>
    <td><?php echo $task['task']; ?></td>
    <td>
        <form action="edit-task" method="post">
            <input type="hidden" name="id" value="<?php echo $task['id']; ?>">
            <button type="submit">Edit</button>
        </form>
    </td>
    <td>
        <form action="delete-task" method="post">
            <input type="hidden" name="id" value="<?php echo $task['id']; ?>">
            <button type="submit">Delete</button>
        </form>

    </td>
</tr>
<?php } ?>
</tbody>
</table>